
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-image: url('bg.jpg.jpg');
  background-size: cover;
  background-position: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  background-color: rgba(0, 0, 0, 0.7); /* Transparent black */
  color: #fff;
  padding: 20px 0;
}

header h1 {
  font-size: 28px;
  text-align: center;
}

nav ul {
  list-style: none;
  text-align: center;
  margin-top: 20px;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}

.search-container {
  margin-top: 20px;
  text-align: center;
}

.search-container input[type="text"] {
  width: 60%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-container button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-container button:hover {
  background-color: #0056b3;
}

main {
  padding: 50px 0;
}

.section {
  padding: 50px 0;
  text-align: center;
}

.section h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.section p {
  font-size: 18px;
  line-height: 1.6;
  color: #020101;
}

footer {
  background-color: #000000;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

footer p {
  font-size: 14px;
}
